<h1><%= @player_1.name %> vs. <%= @player_2.name %></h1>
<h2><%= @player_1.name %>'s Health: <%= @player_1.health %>
<h2><%= @player_2.name %>'s Health: <%= @player_2.health %>

<form action="/attack">
  <input type="submit" value="Attack">
</form>
