<h1><%= @player_1.name %> vs. <%= @player_2.name %></h1>
<h2>
  <%= @player_1.name %>'s 
  <% if @player_1.poisoned? %>
    (PSN'd)
  <% end %>
  Health: <%= @player_1.health %>
</h2>

<h2>
  <%= @player_2.name %>'s 
  <% if @player_2.poisoned? %>
    (PSN'd)
  <% end %>
  Health: <%= @player_2.health %>
</h2>

<% if @game.turn == 1%>
  <h3>LET'S GET READY TOOOO RUMBLE!!!</h3>
<% elsif @game.turn.even? || @player_2.immobilised? %>
  <h3><%= @player_1.name %> attacked <%= @player_2.name %></h3>
<% elsif !@game.turn.even? || @player_1.immobilised? %>
  <h3><%= @player_2.name %> attacked <%= @player_1.name %></h3>
<% end %>

<form action="/play/attack">
  <input type="submit" value="Attack">
</form>

<form action="/play/poison">
  <input type="submit" value="Poison">
</form>

<form action="/play/electrocute">
  <input type="submit" value="Electrocute">
</form>

<form action="/play/sleep">
  <input type="submit" value="Sleep">
</form>
